<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	
	
	
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckGrade</servlet-name>
    <servlet-class>Controller.CheckGrade</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>Controller.ModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateDetailInfo</servlet-name>
    <servlet-class>Controller.UpdateDetailInfo</servlet-class>
  </servlet>


  
  <servlet-mapping>
    <servlet-name>CheckGrade</servlet-name>
    <url-pattern>/CheckGrade</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDetailInfo</servlet-name>
    <url-pattern>/UpdateDetailInfo</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>Login_demo.jsp</welcome-file>
  </welcome-file-list>
</web-app>
